.clients {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}
.client__card {
  margin-right: 30px;
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client__icon {
  &:hover {
    background-color: #2196f3;
    fill: white;
  }
  &:focus {
    background-color: #2196f3;
    fill: white;
  }
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
