.lorem {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lorem__element {
  flex-basis: calc((100% - 90px) / 4);
  width: 25%;
}
.lorem__icon {
  background-color: var(--color-silver);
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  padding-bottom: 10px;
}
.lorem__paragraph {
  margin-bottom: 94px;
  color: var(--darkgrey);
  font-size: 14px;
  line-height: 1.71;
}
